.header{
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    background: white;
}


.header-center{
    display: flex;
    align-items: center;
    width: 180%;
    border: 1px solid black;
    position: sticky;
    top:0;
    z-index: 1;
    background: white;
}

.button{
    cursor: pointer;
}
.search-bar{
    width: 680px;
    display: flex;
}
.field{
    width: 650px;
}