.sidebar{
    flex:0.2;
    position: sticky;
    top:50;
    background: white;
    z-index: 1;
}
.side-bar-row{
    display: flex;
    position: sticky;
    top:50;
    background: white;
    z-index: 1;
    align-items: center;
    padding: 10px 20px;
    
}
.sidebarrow-icon{
    color:#606060;
    font-size: large !important;
}
.side-bar-row:hover{
    cursor: pointer;
    background-color: lightgray;
}
.sidebarrow-title{
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}

.side-bar-row:hover > .sidebarrow-icon{
    color:red;
}


.side-bar-row.Selected{
    background-color: lightgray;
}

.side-bar-row.Selected > .sidebarrow-icon{
    color:red;
}

.side-bar-row.Selected > .sidebarrow-title{
    font-weight: bold;
}

.sidebar > hr{
    border: 0;
    height:1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}