
.pos{
  border: 1px solid black;
  position: fixed;
  left: 120px;
  right: 550px;
}
  .loading{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 30%;
    color: black;
  }
  .video-item{
    display: flex !important;
    align-items: center !important;
    justify-items: center;
    cursor: pointer;
  }
  .video-item.item img{
    width: 180px;
    height: 120px;
  }
  .header{
    font-weight: bold;
  }

  .item{
    padding: 5px;
  }