
.pos{
  border: 1px solid black;
  position: fixed;
  left: 100px;
  right: 500px;
}
  
  .video-item{
    display: flex !important;
    align-items: center !important;
    justify-items: center;
    cursor: pointer;
  }
  .video-item.item img{
    width: 180px;
    height: 120px;
  }
  .header{
    font-weight: bold;
  }

  .item{
    padding: 5px;
  }